.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.DialogsItem {
    padding: 10px;
}

.DialogsItem .active {
    color: gold;
}

.message {

}

.messages {
padding: 10px;
}